body {
  margin: 20px 40px;
}

.jobandlogo {
  display: flex;
  justify-content: space-between;
}

.detail-logo {
  max-width: 33%;
}

.jobbox {
  text-align: left;
}

.job {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  padding: 20px 10px;
  align-items: center;
  color: #393939;
}

.job:hover {
  cursor: pointer;
  color: #666666;
}

.job-company {
  padding: 0 30px;
}

.job-dialog {
  padding: 30px 50px;
}