body {
  margin: 20px 40px;
  background: #535353;
  color: #fff;
}

#uopeoplelogo {
  max-width: 200px;
  float: right;
  margin-top: -70px;
  border: 0;
}

.jobandlogo {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.jobbox {
  text-align: left;
}

.job {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  padding: 20px 10px;
  align-items: center;
  color: #393939;
}

.job:hover {
  cursor: pointer;
  color: #666666;
}

.job-company {
  padding: 0 30px;
}

.job-dialog {
  padding: 30px 50px;
}

#pagenum {
  margin-bottom: 1rem;
}

/* Footer */
.madewithlove {
  width: 100%;
  text-align: center;
  padding: 1rem;
  color: #fff;
}
.madewithlove a {
  color: #ff006a;
  text-decoration: none;
}
.madewithlove a:hover {
  color: #fff;
}
.madewithlove__heart {
  color: #ff006a;
}
.madewithlove__heart:hover {
  color: #fff;
}

@media(min-width: 200px) {
  .joblogo {
    max-width: 200px;
  }
}

@media(min-width: 700px) {
  .joblogo {
    max-width: 150px;
  }
}